/* ============ ADVANTAGES ============ */

.advantages {
  display: flex;
  flex-wrap: wrap;
  // margin-bottom: 94px;
  & h3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  & p {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--alt-font-color);
    padding: 0 1px;
  }
}
.advantages__item:not(:last-child) {
  margin-bottom: 30px;
}
.advantages__thumb {
  border-radius: 4px;
  margin-bottom: 30px;

  background-color: var(--alt-bg-color);
}
.advantages__icon {
  display: flex;
  height: 170px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .advantages__item {
    max-width: 354px;
    margin-top: 30px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    max-width: 270px;
  }
  .advantages__list {
    margin-bottom: 54px;
  }
}
