.current {
  color: var(--brand-blue-color);
  fill
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -44px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--brand-blue-color);
  }
}
